{% extends 'main_page.html' %}

{% block content %}
<a href="appointment_add" class=" button is-primary my-4">Dodaj spotkanie</a>
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Data</td>
            <td>Pracownik</td>
            <td>Użytkownik</td>
            <td>Specjalista</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{appointment.id}}</td>
            <td>{{appointment.date}}</td>
            <td>{{appointment.employee}}</td>
            <td>{{appointment.user}}</td>
            <td>{{appointment.expert.name}} {{appointment.expert.surname}}</td>

            <td><a href="main_page.html" class="button is-warning">Edytuj</a>
            <a href="main_page.html" class="button is-danger">Usuń</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}