<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Data</td>
            <td>Pracownik</td>
            <td>Użytkownik</td>
            <td>Specjalista</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.date}}</td>
            <td>{{user.employee}}</td>
            <td>{{user.user}}</td>
            <td>{{user.expert}}</td>

            <td><a href="main_page.html" class="button is-warning">Edytuj</a>
            <a href="main_page.html" class="button is-danger">Usuń</a></td>
        </tr>
    </tbody>
</table>