<form method="post">
        <h1 class="my-5">Dodawanie Spotkania</h1>
    <div class="field">
        <label class="label">Data</label>
        <div class="control">
            <label>
                <input type="text" autocomplete="off" name="date_from" class="input" placeholder="Wpisz date">
            </label>
        </div>
        <p class="help">Poprawny format to d-m-y H:I np. 12.01.2022 15:30</p>
    </div>
    <label class="label">Pracownik</label>
    <div class="field">
        <div class="select" style="width: 100%">
            <div class="control">
                <label>
                    <select style="width: 100%" name="employee">
                        {% for employee in employees %}
                        <option>{{ employee.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>
    <label class="label">Użytkownik</label>
    <div class="field">
        <div class="select" style="width: 100%">
            <div class="control">
                <label>
                    <select style="width: 100%" name="user">
                        {% for product in products %}
                        <option>{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>
    <label class="label">Użytkownik</label>
    <div class="field">
        <div class="select" style="width: 100%">
            <div class="control">
                <label>
                    <select style="width: 100%" name="user">
                        {% for user in users %}
                        <option>{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    </div>


        <div class="field is-grouped is-grouped-left">
        <p class="control">
            <button class="button is-primary" type="submit" name="submit">
                Dodaj
            </button>
        </p>
        <p class="control">
            <a class="button is-light" href="reservation_table.html">
                Anuluj
            </a>
        </p>
    </div>
</form>