<form method="post">
        <h1 class="my-5">Dodawanie kategorii produktów</h1>
    <div class="field">
        <label class="label">Nazwa</label>
        <div class="control">
            <label>
                <input type="text" autocomplete="off" name="name" class="input" placeholder="Wpisz nazwę">
            </label>
        </div>
    </div>


        <div class="field is-grouped is-grouped-left">
        <p class="control">
            <button class="button is-primary" type="submit" name="submit">
                Dodaj
            </button>
        </p>
        <p class="control">
            <a class="button is-light" href="product_category_table.html">
                Anuluj
            </a>
        </p>
    </div>
</form>