{% extends 'main_page.html' %}

{% block content %}
<a href="employee_add" class=" button is-primary my-4">Dodaj pracownika</a>
<form method="post" id="form" action="{% url 'employee_edit' %}">{% csrf_token %}</form>
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Adres</td>
            <td>Email</td>
            <td>Pesel</td>
            <td>Stanowisko kierownicze</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.user.name}}</td>
            <td>{{employee.user.surname}}</td>
            <td>{{employee.user.address}}</td>
            <td>{{employee.user.email}}</td>
            <td>{{employee.pesel}}</td>
            <td>{% if employee.is_boss == True %}Tak{% else %}Nie{% endif %}</td>
            <td><button type="submit" form="form" name="edit" value="{{employee.id}}" class="button is-warning">Edytuj</button>
            <button type="submit" form="form" name="delete" value="{{employee.id}}" class="button is-danger">Usuń</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}