{% extends 'main_page.html' %}

{% block content %}
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Adres</td>
            <td>Email</td>
            <td>Pesel</td>
            <td>Stanowisko kierownicze</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.user.name}}</td>
            <td>{{employee.user.surname}}</td>
            <td>{{employee.user.address}}</td>
            <td>{{employee.user.email}}</td>
            <td>{{employee.pesel}}</td>
            <td>{{employee.is_boss}}</td>
            <td><a href="main_page.html" class="button is-warning">Edytuj</a>
            <a href="main_page.html" class="button is-danger">Usuń</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}