<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Numer</td>
            <td>Specjalność</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.number}}</td>
            <td>{{user.speciality}}</td>

            <td><a href="main_page.html" class="button is-warning">Edytuj</a>
            <a href="main_page.html" class="button is-danger">Usuń</a></td>
        </tr>
    </tbody>
</table>