{% load static %}
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="pl" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}" />
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/debug.css' %}" />-->
</head>
<body>
<section class="section">
    <div class="field is-grouped is-grouped-centered">
                <div class=" is-grouped ">
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
                <a href="" class=" button is-primary my-4">Example</a>
            </div>
        </div>
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">

                <aside class="menu">
                    <ul class="menu-list" style="line-height: 3">
                        <li><a href="{% url 'home' %}" class="button is-primary is-light is-outlined my-4">Panel zarządzania </a></li>
                        <li><a href="{% url 'employee_table' %}" class="button is-primary is-light is-outlined my-4">Lista pracowników</a></li>
                        <li><a class="button is-primary is-light is-outlined my-4">Lista specjalistów </a></li>
                        <li><a class="button is-primary is-light is-outlined my-4">Lista produktów</a></li>
                        <li><a class="button is-primary is-light is-outlined my-4">Lista wycen</a></li>
                        <li><a class="button is-primary is-light is-outlined my-4">Lista Zastaw</a></li>
                        <li><a class="button is-primary is-light is-outlined my-4">Transakcje</a></li>
                        <li><a class="button is-primary is-light is-outlined my-4">Raport dzienny</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-four-fifth">

                {% block content %}

                {% endblock %}

            </div>
        </div>

    </div>
</section>
</body>
</html>