<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Nazwa</td>
            <td>Kwota</td>
            <td>Kategoria</td>
            <td>Opis</td>
            <td>Transakcja</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.amount}}</td>
            <td>{{user.category}}</td>
            <td>{{user.description}}</td>
            <td>{{user.transaction}}</td>

            <td><a href="main_page.html" class="button is-warning">Edytuj</a>
            <a href="main_page.html" class="button is-danger">Usuń</a></td>
        </tr>
    </tbody>
</table>