<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Data od</td>
            <td>Data do</td>
            <td>Produkt</td>
            <td>Użytkownik</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.date_from}}</td>
            <td>{{user.date_to}}</td>
            <td>{{user.product}}</td>
            <td>{{user.user}}</td>

            <td><a href="main_page.html" class="button is-warning">Edytuj</a>
            <a href="main_page.html" class="button is-danger">Usuń</a></td>
        </tr>
    </tbody>
</table>