{% extends 'main_page.html' %}

{% block content %}
<a href="user_add" class=" button is-primary my-4">Dodaj użytkownika</a>
<form method="post" id="form" action="{% url 'user_edit' %}">{% csrf_token %}</form>
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Adres</td>
            <td>Email</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.address}}</td>
            <td>{{user.email}}</td>
            <td><button type="submit" form="form" name="edit" value="{{user.id}}" class="button is-warning">Edytuj</button>
            <button type="submit" form="form" name="delete" value="{{user.id}}" class="button is-danger">Usuń</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}