<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Adres</td>
            <td>Email</td>
            <td>Opcje</td>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.address}}</td>
            <td>{{user.email}}</td>
            <td><a href="main_page.html" class="button is-warning">Edytuj</a>
            <a href="main_page.html" class="button is-danger">Usuń</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>