{% extends 'main_page.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
        <h1 class="my-5">Edycja Użytkownika</h1>
    <div class="field">
        <label class="label">Imie</label>
        <div class="control">
            <label>
                <input type="text" autocomplete="off" name="name" class="input" value="{{user.name}}">
            </label>
        </div>
    </div>
    <div class="field">
        <label class="label">Nazwisko</label>
        <div class="control">
            <label>
                <input type="text" autocomplete="off" name="surname" class="input" value="{{user.surname}}">
            </label>
        </div>
    </div>
    <div class="field">
        <label class="label">Adres</label>
        <div class="control">
            <label>
                <input type="text" autocomplete="off" name="address" class="input" value="{{user.address}}">
            </label>
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <label>
                <input type="text" autocomplete="off" name="email" class="input" value="{{user.email}}">
            </label>
        </div>
    </div>
        <div class="field is-grouped is-grouped-left">
        <p class="control">
            <button class="button is-primary" type="submit" name="save" value="{{user.id}}">
                Zapisz
            </button>
        </p>
        <p class="control">
            <a class="button is-light" href="user_table.html">
                Anuluj
            </a>
        </p>
    </div>
</form>
{% endblock %}